<!-- TopNav Start -->
<div class="navbar-custom topnav-navbar topnav-navbar-dark">
    <div class="container-fluid">

        <!-- LOGO -->
        <a href="{{ basePath }}/" class="topnav-logo mt-1">
            <span class="h1 text-white font-weight-bold align-middle d-none d-sm-block">
               Npf Project
            </span>
        </a>

        {% block topNavContent %}{%endblock %}
    </div>
</div>
<!-- End TopNav -->